body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('./playful-background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Comic Sans MS', sans-serif; /* A playful font */
  }
  
  .container {
    width: 90%;
  }
  
  .card {
    width: 90%;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    animation: fadeIn 0.8s ease-out; /* Add a fadeIn animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .card-title {
    font-size: 28px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card-text {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .btn-group-vertical {
    width: 100%;
    text-align: center;
  }
  
  .btn {
    font-size: 22px;
    margin-bottom: 15px;
    width: 80%;
    max-width: 200px;
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
  }
  
  .btn-outline-primary.active,
  .btn-outline-primary:active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .btn-success:hover {
    background-color: #218838;
    border-color: #218838;
  }
  
